header {
	text-align: center;
	padding: 25px 25px 30px;
	margin-bottom: 25px;
	border-bottom: medium solid #275d8b;
	background-color: #337ab7;
	color: #EEEEEE;
	text-shadow: 2px 2px 2px #094C83;
}

.btn {
	margin-bottom: 30px;
}

th {
	text-align: center;
}

body {
	background-color: #282828;
	color: #EEEEEE;
}

div.circle {
	width: 0.9em;
	height: 0.9em;
	margin: auto;
	margin-top: 1em;
	margin-bottom: 1em;
	background-color: #656565;
	border: 3px solid #454545;
	border-radius: 100%;
}

div.circle.middle {
	width: 1.2em;
	height: 1.2em;
}

.circles {
	margin-top: 25px;
	margin-bottom: 25px;
}

div.goback, div.createacc {
	text-align: center;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 1em;
}

a.btn {
	margin: auto;
}